.fake-enter-active, .fake-leave-active {
  transition: opacity 2.5s
}
.fake-enter, .fake-leave-to /* .fake-leave-active below version 2.1.8 */ {
  opacity: 0
}



/* para el ejemplo de la app4 */
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.YH-enter-active {
  transition: all .3s ease;
}
.YH-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.YH-enter, .YH-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(50px);
  opacity: 0;
}



.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


